{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block page_title %}Page de connexion{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('login') }}">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Se connecter">
</form>
{% endblock %}